# Copy this file to .env  (never commit .env)
ANTHROPIC_API_KEY=YOUR_SECRET_KEY

STRIPE_SECRET_KEY=YOUR_SECRET_KEY
STRIPE_WEBHOOK_SECRET=YOUR_SECRET_KEY

STRIPE_PRICE_IDS={"starter": {"1": "price_1TqqFjCJBGtf5GFh4sAHboki", "3": "price_1TqqFkCJBGtf5GFhJn5PLpd6", "6": "price_1TqqFkCJBGtf5GFhN27ed8nr", "12": "price_1TqqFlCJBGtf5GFhUbkmxrAZ"}, "growth": {"1": "price_1TqqFmCJBGtf5GFhwlWARlmG", "3": "price_1TqqFnCJBGtf5GFhYHA9x2ii", "6": "price_1TqqFnCJBGtf5GFhftbhKa0d", "12": "price_1TqqFpCJBGtf5GFhUwcbjib6"}, "pro": {"1": "price_1TqqFqCJBGtf5GFhOuLKGvAS", "3": "price_1TqqFrCJBGtf5GFhfX5rtuTr", "6": "price_1TqqFrCJBGtf5GFhVzZaZ2Jm", "12": "price_1TqqFsCJBGtf5GFhjOu86E88"}}
STRIPE_PRICE_TOPUP=price_1TqqFtCJBGtf5GFhOj6qyhjG

JWT_SECRET=dev-change-me-to-anything-long-and-random

# docker compose exec api python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FERNET_KEY=YOUR_SECRET_KEY

OPENROUTER_API_KEY=YOUR_SECRET_KEY

#MiniIO Object Store
S3_PUBLIC_URL=http://localhost:9000

# http://localhost:5173/developer-login
DEVELOPER_EMAIL=nivadeveloper@nivatier.com
DEVELOPER_PASSWORD=YOUR_SECRET_KEY